.fullPageCol{
  display: flex;
  flex-direction: column;
  background-color: #C4C4C4;
  min-width: 40vh;
  margin-right: 10px;
  min-height: 100%;
}
.textMediumLight{
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}
.textMediumLight:hover{
  color: black;
}
.greyText:hover{
  color: black;
  font-size: 28px;
}
.verticalMargin{
  margin-top: 50px;
}
.greyText{
  color: #00000094;
}
.logo{
  align-self: center;
}