* {
    font-family: Lato;
    font-style: normal;
}

h1 {
    font-style: normal;
    font-weight: bold; 
}

.header {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.stats {
    font-size: 24px;
    font-weight: 100;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

hr {
    width: 70%;
}

